/* About Page */
main {
  background: rgb(43, 37, 37);
  background: linear-gradient(
    360deg,
    rgba(43, 37, 37, 1) 51%,
    rgba(226, 51, 20, 1) 51%
  );
  padding: 6rem 0;
}

.container {
  background-color: #fff;
  padding: 6rem 3rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.container h1 {
  font-size: 3.5rem;
}

.container h3 {
  font-size: 2.5rem;
  color: #555;
}

.container hr {
  margin-bottom: 1rem;
}

.container p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* ///////////////
    Services Section
////////////////// */
.service {
  padding: 6rem 0;
}

.service h1 {
  font-size: 3.4rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
  text-decoration: underline #fff;
}

.service p {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.s-card {
  text-align: center;
  padding: 3rem 2rem 0.5rem 2rem;
  background-color: rgb(226, 51, 20);
  color: #fff;
  box-shadow: 10px 7px 30px rgba(0, 0, 0, .5);
  border-radius: 2px;
  border: 2px solid black;
  transition: all 0.5s;
}

.s-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.s-card h3 {
  font-size: 2rem;
  color: rgba(43, 37, 37, 1);
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.s-card p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: navajowhite;
}

.code,
.wordpress,
.edge { 
  font-size: 5rem;
  /* margin-bottom: 5rem; */
  /* padding-bottom: 4rem; */
  width: 100%;
}

/* ///////////////
    Services Section
////////////////// */
.pricing h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.pricing p {
  text-align: center;
  margin-bottom: 3rem;
}

.pricing-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.p-card {
  padding: 4rem 2rem;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, .5);
  text-align: center;
}

.p-card h6{
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #666;
}

.p-card span {
  font-size: 3rem;
  color: rgba(226, 51, 20, 1);
  font-weight: 600;
  margin-bottom: 1.5rem;
  display: block;
}

.work-detail p{
  padding: 0.5rem 2rem;
  font-size: 2rem; 
  margin-bottom: 0.5rem;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(0, 161, 0);
}

.p-card button{
  padding: 1.5rem;
  width: 50%;
  margin-top: 2rem;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1.8rem;
  color: #fff;
  background-color: rgba(226, 51, 20, 1);
  transition: all 0.3s;
}

.p-card button:hover {
  cursor: pointer;
  color: rgba(226, 51, 20, 1);
  background-color: #fff;
  border: 1px solid rgb(226, 51, 20);
}