@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

a:link,
a:visited {
  text-decoration: none;
}

/* ///////////////
    Header Section
////////////////// */
header {
  display: flex;
  /* grid-template-columns: 1fr 2fr 1fr; */
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 2rem;
  background-color: rgb(43, 37, 37);
}

.logo h1 {
  color: #fff;
}

.logo a:link,
.logo a:visited {
  color: #fff;
}

.logo span {
  color: rgb(226, 51, 20);
}

.menu nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu nav ul li {
  list-style: none;
}

.menu a:link,
.menu a:visited {
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  transition: all 0.4s;
}

.menu a:hover,
.menu a:active {
  color: #fff;
  font-size: 1.8rem;
  background-color: rgb(226, 51, 20);
  border-radius: 2px;
}

.active{
  background-color: rgb(226, 51, 20);
}

.mail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mail ion-icon {
  font-size: 2.5rem;
  color: #fff;
  background-color: rgb(226, 51, 20);
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.mail ion-icon:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgb(226, 51, 20);
}

.mail a:link,
.mail a:visited {
  font-size: 1.4rem;
  color: #fff;
  transition: all 0.5s;
}

.mail a:hover,
.mail a:active {
  color: rgb(226, 51, 20);
  text-decoration: underline #fff;
}

/* ///////////////
    Footer Section
////////////////// */
footer {
  padding: 3rem 4rem;
  background-color: rgba(43, 37, 37, 1);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer p {
  font-size: 1.6rem;
}

footer a:link,
footer a:visited {
  color: #fff;
  transition: all 0.5s;
}

footer a:hover,
footer a:active {
  color: rgb(226, 51, 20);
  text-decoration: underline #eee;
}

footer .social-icon {
  margin-bottom: 0;
}


.social-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.social-icon a{
  /* background-color: none !important; */
  padding: 0 !important;
}

.social-icon i{
  background-color: #fff;
  color: rgba(226, 51, 20);
  padding: 0.8rem 1rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  transition: all 0.5s;
}

.social-icon i:hover {
  background-color: rgb(226, 51, 20);
  color: #fff;
}